<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mindskip.xzs.repository.TExamCoverPathMapper">

    <!-- 公共列 -->
    <sql id="Base_Column_List">
        exam_id, cover_path
    </sql>

    <!-- 通用结果映射 -->
    <resultMap id="CoverPathMap" type="com.mindskip.xzs.viewmodel.admin.exam.TExamCoverPath">
        <id column="exam_id" property="examId"/>
        <result column="cover_path" property="coverPath"/>
    </resultMap>

    <!-- 查询 -->
    <select id="selectByPrimaryKey" resultMap="CoverPathMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_exam_cover_path
        WHERE exam_id = #{examId}
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.mindskip.xzs.viewmodel.admin.exam.TExamCoverPath">
        INSERT INTO t_exam_cover_path (exam_id, cover_path)
        VALUES (#{examId}, #{coverPath})
    </insert>

    <!-- 更新 -->
    <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.viewmodel.admin.exam.TExamCoverPath">
        UPDATE t_exam_cover_path
        SET cover_path = #{coverPath}
        WHERE exam_id = #{examId}
    </update>

    <!-- 删除 -->
    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM t_exam_cover_path
        WHERE exam_id = #{examId}
    </delete>

    <select id="getAllCoverPaths" resultMap="CoverPathMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_exam_cover_path
    </select>

</mapper>
